<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RamC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
  </connectionStrings>
  <userSettings>
    <RamC.Properties.Settings>
      <setting name="Size" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="CTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CLeft" serializeAs="String">
        <value>0</value>
      </setting>
    </RamC.Properties.Settings>
  </userSettings>
</configuration>
